@using System.Web.Optimization
@using VietUSA.Repository.Common.Constants
@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu</title>
    @Styles.Render("~/bundles/LoginStyle")
    @Scripts.Render("~/bundles/LoginScript")
    <style>
        .control-label {
            font-size: 14px !important;
        }
    </style>
</head>

<body>
    <div class="container">
        <div id="login-wraper">
            <div class="form login-form">
                <div class="body">
                    <h4>
                        <span class="blue">Người dùng vui lòng đổi mật khẩu trong lần đăng nhập đầu tiên</span>
                    </h4>
                    <form class="form-horizontal" role="form" method="POST" id="formChangePassword"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                        <div class="form-horizontal">
                            <div class="form-group form-group-sm t-overwrite-form-group">
                                <label class="col-sm-4 control-label" for="txtPassword">Mật khẩu mới</label>
                                <div class="col-sm-8">
                                    <input class="form-control" data-bv-notempty="true" data-bv-notempty-message="Mật khẩu không để trống"
                                           id="txtPassword" name="PassWord" type="password" />
                                </div>
                            </div>
                            <div class="form-group form-group-sm t-overwrite-form-group">
                                <label class="col-sm-4 control-label" for="txtRetypePassWord">Nhập lại mật khẩu mới</label>
                                <div class="col-sm-8">
                                    <input class="form-control" data-bv-notempty="true" data-bv-notempty-message="Mật khẩu nhập lại không để trống"
                                           data-bv-identical="true"
                                           data-bv-identical-field="PassWord"
                                           data-bv-identical-message="Mật khẩu nhập lại không chính xác"
                                           id="txtRetypePassWord" name="RetypePassWord" type="password" />
                                </div>
                            </div>
                            <div class="form-group form-group-sm t-overwrite-form-group">
                                <label class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <button type="submit" class="btn btn-success pull-left" id="btnChangePassword">Đổi mật khẩu</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                @*<div class="footer">
                    </div>*@
            </div>
        </div>
    </div>
</body>
<script>
    function validateChangePassword() {
        var result = { IsError: false, Message: "", Element: "", Type: "" };

        var e = $("#formChangePassword").data("bootstrapValidator");
        e.validate();
        var n = e.isValid();
        if (!n) {
            result.IsError = true;
            result.Message = e.Message;
            result.Type = "auto";
            return result;
        }
        return result;
    };
    function ChangeFirstLoginPassword() {
        var isErrorValidate = validateChangePassword();
        if (isErrorValidate.IsError) return false;
        var parameter = $("#formChangePassword").serializeArray();
        $.ajax({
            type: "POST",
            data: parameter,
            url: '@Url.Action("ChangeFirstLoginPassword", "Account")',
            success: function (data) {
                if (!data.IsError) {
                    var returnUrl = getParameterByName("returnUrl", window.location.href);
                    if (!returnUrl) {
                        window.location.href = '@Url.Action("Index", "Home")';
                    } else {
                        window.location.href = returnUrl;
                    }
                }
                else {
                    alert(data.Data);
                }
            },
            error: function () {
                removeLoading("loadingPanelTouristGuide");
                callDoTNotification("@CommonConstants.Warning", "@Html.Raw(CommonConstants.SaveError)", "error");
            }
        });
    };
    jQuery(document).ready(function ($) {
        focusElement("txtPassword");
        $("#formChangePassword").bootstrapValidator();

        $.backstretch([
            "/Content/images/bg1.png",
            "/Content/images/bg2.png"
        ], { duration: 3000, fade: 750 });

        $("#btnChangePassword").click(function () {
            ChangeFirstLoginPassword();
            return false;
        });
    });

</script>
