<nav class="w-nav-menu bloco_menu" role="navigation">
    <div class="grupo-menu w-nav-menu" role="navigation">
        <ul class="menu-horizontal clearfix">
            @*<li>
                <a href='@Html.Raw(Url.Action("Index","News"))'>News</a>
            </li>*@
            <li>
                <a href="#">About Vietnam-USA 2019</a>
                <ul class="sub-menu clearfix" style="white-space: nowrap;">
                    <li><a href='@Html.Raw(Url.Action("WelcomeMessage","Home"))'>Welcome Message</a></li>
                    <li><a href='@Html.Raw(Url.Action("Organizers","Home"))'>Organizers</a></li>
                    @*<li><a href='@Html.Raw(Url.Action("ConferenceVenue","Home"))'>Conference Venue</a></li>*@
                    <li><a href='@Html.Raw(Url.Action("ToBeUpdated","Home"))'>Poster</a></li>
                    <li><a href='@Html.Raw(Url.Action("AboutQuyNhon","Home"))'>About Quy Nhon</a></li>
                </ul>
            </li>
            <li>
                <a href="#">For Participants</a>
                <ul class="sub-menu clearfix" style="white-space: nowrap;">
                    @*<li><a href='@Html.Raw(Url.Action("Index","Register"))'>Registration</a></li>*@
                    <li><a href='@Html.Raw(Url.Action("ToBeUpdated","Home"))'>Registration</a></li>
                    <li><a href='@Html.Raw(Url.Action("ToBeUpdated","Home"))'>Abstract Submission</a></li>
                    <li><a href='@Html.Raw(Url.Action("VisaUsefulInformation","Home"))'>Visa Application</a></li>
                    <li><a href='@Html.Raw(Url.Action("ImportantDates","Home"))'>Important Dates</a></li>
                    <li><a href='@Html.Raw(Url.Action("ToBeUpdated","Home"))'>Accommodation</a></li>
                    <li><a href='@Html.Raw(Url.Action("ToBeUpdated","Home"))'>Useful Information</a></li>
                    <li><a href='@Html.Raw(Url.Action("ToBeUpdated","Home"))'>Payment</a></li>
                    <li><a href='@Html.Raw(Url.Action("AboutQuyNhon","Home"))'>Hotel</a></li>
                    <li><a href='@Html.Raw(Url.Action("ToBeUpdated","Home"))'>Travel</a></li>
                </ul>
            </li>
            <li>
                <a href='#'>Program</a>
                <ul class="sub-menu clearfix" style="white-space: nowrap;">
                    <li><a href='@Html.Raw(Url.Action("ToBeUpdated","Home"))'>Program</a></li>
                    <li><a href='@Html.Raw(Url.Action("InvitedAddresses","Home"))'>Invited Addresses</a></li>
                    <li><a href='@Html.Raw(Url.Action("SpecialSessions","Home"))'>Special Sessions</a></li>
                    <li><a href='@Html.Raw(Url.Action("ProgramCommittee","Home"))'>Program Committee</a></li>
                </ul>
            </li>
            <li>
                <a href='@Html.Raw(Url.Action("Sponsors","Home"))'>Sponsors</a>
            </li>
            @*<li>
                <a href='@Html.Raw(Url.Action("Index","Contact"))'>Contact</a>

            </li>*@
            <li><a href='@Html.Raw(Url.Action("ToBeUpdated","Home"))'>Contact</a></li>
        </ul>
    </div>
</nav>	