<ul class="map-menu">
    <li>
        <a href="@Html.Raw(Url.Action("Index", "Home"))">
            Trang chủ
        </a>
    </li>
    <li>
        <a href="@Html.Raw(Url.Action("Index", "Map"))">
            Bản đồ
        </a>
    </li>
</ul>

<ul class="map-menu">
    <li>
        <a href="@Html.Raw(Url.Action("Index", "AccommodationFacility"))">
            Cơ sở lưu trú
        </a>
    </li>

    <li>
        <a href="@Html.Raw(Url.Action("CommingSoon", "Home"))">
            Nhà hàng đạt chuẩn
        </a>
    </li>

    <li>
        <a href="@Html.Raw(Url.Action("CommingSoon", "Home"))">
            Văn phòng đại diện
        </a>
    </li>
</ul>

<ul class="map-menu">
    <li>
        <a href="@Html.Raw(Url.Action("CommingSoon", "Home"))">
            Cơ sở mua sắm đạt chuẩn
        </a>
    </li>

    <li>
        <a href="@Html.Raw(Url.Action("CommingSoon", "Home"))">
            Doanh nghiệp vận chuyển
        </a>
    </li>

    <li>
        <a href="@Html.Raw(Url.Action("CommingSoon", "Home"))">
            Công ty lữ hành nội địa
        </a>
    </li>
    <li>
        <a href="@Html.Raw(Url.Action("Index", "TravelAgentInternational"))">
            Công ty lữ hành quốc tế
        </a>
    </li>
    <li>
        <a href="@Html.Raw(Url.Action("CommingSoon", "Home"))">
            Hướng dẫn viên du lịch
        </a>
    </li>
</ul>